include helpers/_variables
include helpers/_mixins
doctype html
html(lang="en")
  include parts/_head
  body
    // begin header
    include parts/_header
    // end header

    // begin feedback
    include parts/_feedback
    // end feedback

    // begin press
    include parts/_press
    // end press
    
    // begin benefits
    include parts/_benefits
    // end benefits
      
    // begin adds
    include parts/_adds
    // end adds
    
    // begin footer
    include parts/_footer
    // end footer

    // begin script
    include parts/_script
    // end script
    
    