.press {
  width: 100%;
  background:#444;
  border-top: 2px dotted #e1e1df;
  margin-top: -2px;
  height: 480px;
  position: relative;
  z-index: 2;
  
  &__inner {
    width: 100%;
    box-sizing: border-box;

    max-width: none;
  }
  &__title {
    @extend .form__title--success;
    padding-top: 53px;
    padding-bottom: 26px;
    color: #fff;
  }
  &__text {
    @extend .form__text--success;
    color: #fff;
    line-height: 30px;
  }
  &__products {
    white-space: nowrap;
    margin-left: -37px;
    position: absolute;
    text-align: center;
    top: 0;
    left: 50%;
    margin-left: -1400px;
    img {
      margin-right: 15px;
    }
    &__wrapper {
      overflow: hidden;
      position: relative;
      z-index: 4;
      height: 160px;
      margin-top: 29px;
    }
  }
  &__under-product {
    width: 620px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    line-height: 22px;
    margin: 20px auto 0 auto;
    b {
      font-weight: bold;
    }
    a {
      color: #ffff82;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}