@font-face {
    font-family: 'bauhausc';
    src: url('../fonts/bauhausc_heavy_regular-webfont.eot');
    src: url('../fonts/bauhausc_heavy_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bauhausc_heavy_regular-webfont.woff2') format('woff2'),
         url('../fonts/bauhausc_heavy_regular-webfont.woff') format('woff'),
         url('../fonts/bauhausc_heavy_regular-webfont.ttf') format('truetype'),
         url('../fonts/bauhausc_heavy_regular-webfont.svg#bauhausc_heavyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mir';
    src: url('../fonts/Juliasys - Mir-Medium.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Arial-Narrow';
    src: url('../fonts/ARIALN.TTF');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pf-regular';
    src: url('../fonts/PFDinTextCompPro-Regular.ttf'),url('../fonts/PFDinTextCompPro-Regular.woff') ;
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pf-light';
    src: url('../fonts/pfdintextcomppro-light-webfont.eot');
    src: url('../fonts/pfdintextcomppro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcomppro-light-webfont.woff2') format('woff2'),
         url('../fonts/pfdintextcomppro-light-webfont.woff') format('woff'),
         url('../fonts/pfdintextcomppro-light-webfont.ttf') format('truetype'),
         url('../fonts/pfdintextcomppro-light-webfont.svg#pf_din_text_comp_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}