section.adds
  .adds__inner
    h2.adds__title Специальные форматы объявлений 
    span.adds__title-text Для наибольшего внимания.
    
    .adds__content
      .adds__item
        .adds__image 
          img(src="img/add-photo1.jpg", alt="add-photo1")
        .adds__capture Фотообъявления
      .adds__item
        .adds__image 
          img(src="img/add-photo2.jpg", alt="add-photo1")
        .adds__capture Крупные планы
      .adds__item
        .adds__image 
          img(src="img/add-photo3.jpg", alt="add-photo1")
        .adds__capture Выделенные цветом объявления
      .adds__item
        .adds__image 
          img(src="img/add-photo4.jpg", alt="add-photo1")
        .adds__capture Модульные объявления