section.benefits
  .benefits__inner
    .benefits__how-it-works
      h2.benefits__title Как это работает
      +features(featuresIcons, featuresText)
    .benefits__features
      h2.benefits__title Скопировать текст
