.feedback
  .feedback__inner
    .feedback__wrapper
      form(id="leaveApp", class="feedback__form")
        h2.feedback__title Оставить заявку
        +input('name1','Ваше имя')
        +input('tel1','Ваш номер телефона', 'tel')
        button(type="submit", class="button feedback__button") Отправить
        span.form__text Мы свяжемся с Вами в течение 10 минут
      .form__success
        h2.form__title--success Спасибо! Ваша заявка принята.
        span.form__text--success Мы свяжемся с Вами в течение 10 минут.