header.header
  .header__inner
    .header__logo
      a(href="/")
        img(src="img/logo.png", alt="logo")
    h1.header__title Реклама в прессе<br>  от 290 руб!

    .header__text
      p
        |Позвоните нам по телефону 
        span +7 (495) 215-15-87 <br>
        |или оставьте заявку и мы подберем для Вас <br>
        |самые эффективные издания.

    .header__contact
      button(type="button", class="header__button") Оставить заявку
      span.header__under-button Мы свяжемся с Вами в течение 10 минут