head
  meta(charset="UTF-8")
  link(rel="stylesheet", href="css/main.css")
  link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,800,700,600&subset=latin,cyrillic', rel='stylesheet', type='text/css')
  script(src="js/html5shiv.js")
  title Мультипресса
