.press
  .press__inner
    h2.press__title Доступ к широкой аудитории
    span.press__text Более 100 печатных изданий по всей России.
    span.press__text Суммарный еженедельный тираж — более 10 млн экземпляров.
    +product
    .press__under-product
                          |Точный список изданий, сроки и стоимость размещения Вы можете узнать позвонив нам
                          |по телефону   
                          b  +7 (495) 215-15-87
                          |или 
                          a(href="", class="press__link") оставив заявку.
