- var product = ['rabota-zarplata', 'kommersant', 'irvr', 'rabota_dliya', 'auto-price', 'nedvizhimost', 'moy-raon', 'metro', 'moscow', 'mk', 'vedomosti']
- var featuresIcons = ['chat','newspaper','edit','calendar','card','tel'];
- var featuresIcons1 = ['calendar','target','edit','report', 'card'];
- var featuresText = ['Заполняете заявку online или связываетесь с нами по телефону','Мы подберем подходящие издания и формат размещения','Составим объявление или подготовим модуль','Согласуем даты выхода публикаций','Оплатите заказ удобным Вам способом','Публикация объявления в изданиях – звонки клиентов']
- var featuresText1 = ['От заказа до выхода в печать – всего несколько дней!','Точный подбор изданий для охвата нужной аудитории','Бесплатная подготовка текста объявления и рекламного макета','Подробный отчет после выхода издания','Простые и удобные способы оплаты']
- var n = 1