section.article
	.article_inner
		h1.title__big
			span.title__big__text Полезно знать

		.article__field
			.article__column.article__column__big
				.article__item
					.article__image
						img(src="img/article-img1.jpg", alt="article-img1")
					.article__description
						h3.article__title Заголовок статьи
						p.article__text Компания Фурнитрейд выполнила поставку 87 театральных кресел модели Цезарь для дома культуры Калининграда. Благодаря современным технологиям производство театральных кресел от Фурнитрейд имеет долгий срок службы.
						a(href="").article__next далее>>
						ul.article__rait
							li.article__star.active
							li.article__star.active
							li.article__star.active
							li.article__star.active
							li.article__star

				.article__item
					.article__image
						img(src="img/article-img2.jpg", alt="article-img2")
					.article__description
						h3.article__title Заголовок статьи
						p.article__text Компания Фурнитрейд выполнила поставку 87 театральных кресел модели Цезарь для дома культуры Калининграда. Благодаря современным технологиям производство театральных кресел от Фурнитрейд имеет долгий срок службы.
						a(href="").article__next далее>>

						ul.article__rait
							li.article__star.active
							li.article__star.active
							li.article__star.active
							li.article__star.active
							li.article__star
			.article__column.article__column__small
				h3.article__title Подписаться на наши новости
				.article__email
					input(type="text", placeholder="E-mail Adress").article__email__input
					button.article__button Подписаться
				.article__tabs
					.article__triggers
						.article__trigger.news.active Новости
						.article__trigger.pop Популярное
					.article__tabs__field
						.article__tab.news.active(data-count="0")
							// begin article__tab__item
							.article__tab__item
								.article__tab__preview
									img(src="img/news1.jpg", alt="news1")
								.article__tab__description
									h4.article__tab__title
										a(href="#", title="Название последней новости") Название последней новости
									p.article__tab__date 5 сентября, 2014
							// end article__tab__item

							// begin article__tab__item
							.article__tab__item
								.article__tab__preview
									img(src="img/news2.jpg", alt="news2")
								.article__tab__description
									h4.article__tab__title
										a(href="#", title="Название последней новости") Название последней новости
									p.article__tab__date 5 сентября, 2014
							// end article__tab__item

							// begin article__tab__item
							.article__tab__item
								.article__tab__preview
									img(src="img/news3.jpg", alt="news3")
								.article__tab__description
									h4.article__tab__title
										a(href="#", title="Название последней новости") Название последней новости
									p.article__tab__date 5 сентября, 2014
							// end article__tab__item

						.article__tab.pop(data-count="1")

							// begin article__tab__item
							.article__tab__item
								.article__tab__preview
									img(src="img/news3.jpg", alt="news3")
								.article__tab__description
									h4.article__tab__title
										a(href="#", title="Название последней новости") Название последней новости
									p.article__tab__date 5 сентября, 2014
							// end article__tab__item
							// begin article__tab__item
							.article__tab__item
								.article__tab__preview
									img(src="img/news2.jpg", alt="news2")
								.article__tab__description
									h4.article__tab__title
										a(href="#", title="Название последней новости") Название последней новости
									p.article__tab__date 5 сентября, 2014
							// end article__tab__item
							// begin article__tab__item
							.article__tab__item
								.article__tab__preview
									img(src="img/news1.jpg", alt="news1")
								.article__tab__description
									h4.article__tab__title
										a(href="#", title="Название последней новости") Название последней новости
									p.article__tab__date 5 сентября, 2014
							// end article__tab__item
