section.banners
	.banners_inner
		h2.title.title_banners
			span.title__text Добро пожаловать на сайт

		.search.search__banners
			input(type="text", placeholder="Поиск по сайту", class="search__banners__input")
			input(type="button", class="search__banners__button")
		.banners__field
			.banners__column
				.banners__item.banners__item__big.banners1
					.banners__title__big Преимущества наших кресел
				.banners__item.banners__item.banners2
					.banners__title Партнерам

			.banners__column
				.banners__item.banners__item.banners3
					.banners__title Нас рекомендуют
				.banners__item.banners__item.banners4
					.banners__title Подбор кресел онлайн	
				.banners__item.banners__item.banners5
					.banners__title Срецпредложение

			.banners__column
				.banners__item.banners__item.banners6
					.banners__title Бесплатное обслуживание
				.banners__item.banners__item__big.banners7
					.banners__title__big__new Новый объект
					.banners__additionals
						a(href="http://").banners__link Наименование объекта
						a(href="http://").banners__link Колличество мест