// begin header
.header
	.header_inner
		.header__logo
			a(href="/", title="Furnitrade").header__logo__link furnitrade
		.header__logo-after
			p.header__logo-after-text Делать мир красивее и лучше

		.header__contacts
			.header__contacts__telephones
				p.header__contacts__item 8 (800) 775-23-42
				p.header__contacts__item 8 (495) 763-21-89
			button(type="button").button.header__contacts__button Вызов специалиста
// end header