section.video
	.video_inner
		h2.title.title__video
			span.title__text.title__video__text Наше видео
		.video__field
			.video__column.video__column__big
				iframe(src="//www.youtube.com/embed/DVwHCGAr_OE", frameborder="0", allowfullscreen, controls='false' class="video__frame")
			.video__column.video__column__small
				.video__item
					.video__preview
						img(src="img/preview1.jpg", alt="preview1")
					.video__text
						p.video__description Lorem ipsum dolor sit amet, consectetur adipiscing elit
				.video__item
					.video__preview
						img(src="img/preview2.jpg", alt="preview2")
					.video__text
						p.video__description Lorem ipsum dolor sit amet, consectetur adipiscing elit
				.video__item
					.video__preview
						img(src="img/preview3.jpg", alt="preview3")
					.video__text
						p.video__description Lorem ipsum dolor sit amet, consectetur adipiscing elit
